// Variables
@import 'variables';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  height: 100%;
  width: 100%;
  margin-top: 96px;
  margin-bottom: 62px;
  font-family: 'Rubik', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
// body {
//   /* Margin bottom by footer height */
//   margin-bottom: 60px;
// }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 767px){
  body {
    margin-bottom: 117px;
  }
}

.bg-black{
  background-color: $black;
}
.bg-gray{
  background-color: rgb(70, 70, 70);
}
.bg-light-gray{
  background-color: rgb(172, 172, 172);
}
.bg-lighter-gray{
  background-color: #ebebeb;
}
.btn{
  box-shadow: 0 4px 2px -2px gray;
}
.text-gray{
  color: $gray !important;
}

.line-height-short{
  line-height: 1.7rem !important;
}

.burger-icon{
  width: 30px;
}

.sidenav {
  top:110;
  right:0;
  z-index: 1060;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: 0;
  transition: width .5s ease-in-out;
}

.tab{
  display: none;
}

#map-contato {
    height: 550px;
    width: 100%;
}

#form-contato{
  min-height: 420px;
}

.bg-purple{
  background-color: #474283;
}

.btn-secondary{
  background-color: #474283;
}

.btn-secondary:hover {
    background-color: #36326b;
    border-color: #36326b;
}

.cursor-pointer:hover{
  cursor: pointer;
  text-decoration: none;
}

.sidenav .menu-item  a{
  text-decoration: none;
  color: white;
  transition: all .4s ease-in-out;
}

.sidenav .menu-item a:hover {
    color: rgba(0, 0, 0, .8);
}

.sidenav .menu-item a:hover::before {
  color: rgba(0, 0, 0, .8);
  min-width: 75%;
  
}

.sidenav .menu-item a::before {
  content: " ";
  min-width: 0;
  height: 100%;
  background: rgb(255, 255, 255);
  display: block;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  transition: min-width .4s ease-in-out; 
}

.overlay{
  height: 700px;
  background-size: cover;
  background-blend-mode: luminosity;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay:hover {
  background-blend-mode: normal !important;
}

/* TILES */

.tiles {
  width: 100%;
}

.tiles .tile {
  display: inline-block;
  flex-grow: 1;
  height: 600px;
  min-width: 25%;
  opacity: .99;
  overflow: hidden;
  position: relative;
}

.tiles .tile:nth-child(even) {
  text-align: right;
}

.tiles .tile:before {
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}

.tiles .tile img {
  display: block;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.tiles .tile .details {
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tiles .tile .details span.info {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
}

.tiles .tile:focus:before,
.tiles .tile:focus span.info,
.tiles .tile:hover:before,
.tiles .tile:hover span.info {
  opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:hover:before {
  top: 50%;
}

.tiles .tile:focus span.info,
.tiles .tile:hover span.info {
  top: 0;
}

.tiles .tile:focus,
.tiles .tile:hover {
  transition-delay: 0.15s;
}

.tiles .tile:focus .info,
.tiles .tile:hover .info {
  transition-delay: 0.25s;
}

/* CSS LOADER */
.loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  // top: 50%;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);

  .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }

  .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
  }

  .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
  }

  .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
  }

  .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
}

@-webkit-keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


@keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.about-bg-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  // transform: scale(2);
  // transition: all 1s;
}

.about-bg:hover .about-bg-inner,
.about-bg:focus .about-bg-inner {
  cursor: pointer;
  background-blend-mode: unset;
  // background-position: top;
  // transform: scale(1);
}

// .about-bg:hover,
// .about-bg:focus {
//   flex-grow: 10;
// }

.about-bg:hover .about-bg-inner:before,
.about-bg:focus .about-bg-inner:before {
  display: block;
}

.about-bg{
  height: 700px;
  flex-grow: 1;
  overflow: hidden;
  transition: all .6s;
}

.about-bg.active{
  flex-grow: 3;
}

.about-bg.active .about-bg-inner{
  background-blend-mode: normal;
  background-position: top left;
  background-size: 50%;
  background-color: rgb(51, 51, 51) !important;
}

a:hover{
  text-decoration: none;
}

.about-bg .inner-content{
  transition: all .6s;
  display: none;
}

.about-bg.active .inner-content{
  transition-delay: 1s;
  display: block;
}

#about-carousel .slick-carousel .slick-slide {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#about-carousel .slick-carousel .slick-center {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}
#about-carousel .slick-next{
  right: 0;
}
#about-carousel .slick-prev{
  left: 0;
}
#about-carousel .slick-prev,
#about-carousel .slick-next{
  height: 40px;
  width: 40px;
  z-index: 1;
}

#about-carousel .slick-prev:before,
#about-carousel .slick-next:before {
  color: #8e8e8e;
  opacity: 1;
  font-size: 40px;
}
