// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

// Variables
@import 'dashboard_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.font-family-rubik{
    font-family: 'Rubik', sans-serif;
}

.navbar-laravel {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.label {
    cursor: pointer;
}

.progress {
    display: none;
    height: 7px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.alert {
    display: none;
}

.img-container img {
    max-width: 100%;
}